ScriptDevelopmentTool/ScriptRepository/Service References/ScriptServiceRef/WEMScriptService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Script">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArgString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BelongsToAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BelongsToOrg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BelongsToTrack" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScriptId" type="xs:int" />
      <xs:element minOccurs="0" name="ScriptType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScriptURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskCmd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkingDir" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Script" nillable="true" type="tns:Script" />
  <xs:complexType name="ArrayOfScript">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Script" nillable="true" type="tns:Script" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScript" nillable="true" type="tns:ArrayOfScript" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentCategoryId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>