ScriptDevelopmentTool/ScriptRepository/Service References/ScriptServiceRef/WEMScriptService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infosys.WEM.Infrastructure.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infosys.WEM.Infrastructure.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceFaultError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFaultError" nillable="true" type="tns:ServiceFaultError" />
</xs:schema>