ScriptDevelopmentTool/ScriptRepository/Service References/ScriptServiceRef/WEMScriptService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61335/WEMScriptService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Data" />
  <xs:complexType name="GetScriptDetailsResMsg">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Data" minOccurs="0" name="ScriptDetails" nillable="true" type="q1:Script" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetScriptDetailsResMsg" nillable="true" type="tns:GetScriptDetailsResMsg" />
  <xs:complexType name="GetAllScriptDetailsResMsg">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Data" minOccurs="0" name="Scripts" nillable="true" type="q2:ArrayOfScript" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllScriptDetailsResMsg" nillable="true" type="tns:GetAllScriptDetailsResMsg" />
  <xs:complexType name="GetAllCategoryAndSubcategoryResMsg">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Data" minOccurs="0" name="Categories" nillable="true" type="q3:ArrayOfCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllCategoryAndSubcategoryResMsg" nillable="true" type="tns:GetAllCategoryAndSubcategoryResMsg" />
  <xs:complexType name="AddCategoryOrSubcategoryReqMsg">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Data" minOccurs="0" name="Categories" nillable="true" type="q4:ArrayOfCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddCategoryOrSubcategoryReqMsg" nillable="true" type="tns:AddCategoryOrSubcategoryReqMsg" />
  <xs:complexType name="AddCategoryOrSubcategoryResMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddCategoryOrSubcategoryResMsg" nillable="true" type="tns:AddCategoryOrSubcategoryResMsg" />
  <xs:complexType name="UpdateCategoryOrSubcategoryReqMsg">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Data" minOccurs="0" name="Categories" nillable="true" type="q5:ArrayOfCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateCategoryOrSubcategoryReqMsg" nillable="true" type="tns:UpdateCategoryOrSubcategoryReqMsg" />
  <xs:complexType name="UpdateCategoryOrSubcategoryResMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateCategoryOrSubcategoryResMsg" nillable="true" type="tns:UpdateCategoryOrSubcategoryResMsg" />
  <xs:complexType name="DeleteCategoryOrSubcategoryReqMsg">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Infosys.WEM.Scripts.Service.Contracts.Data" minOccurs="0" name="Categories" nillable="true" type="q6:ArrayOfCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteCategoryOrSubcategoryReqMsg" nillable="true" type="tns:DeleteCategoryOrSubcategoryReqMsg" />
  <xs:complexType name="DeleteCategoryOrSubcategoryResMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteCategoryOrSubcategoryResMsg" nillable="true" type="tns:DeleteCategoryOrSubcategoryResMsg" />
</xs:schema>